$background: rgba(0,0,0,0);
// $background: rgba(40,40,45,0.5);

$color: #ffd9c2;
$highlight: #dd7c58;
$background-secondary: #303030;


* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar, .locker {
  background-color: $background;
  color: $color;
  border: 3px solid $color;
  padding: 5px 15px 5px 15px;
  border-radius: 50px;
  // filter: blur(1px);
}

// Styles on classes (see eww.yuck for more information)

// .sidestuff slider {
//   all: unset;
//   color: #00ff00;
// }
//
// .metric scale trough highlight {
//   all: unset;
//   background-color: #D3FD6E;
//   border-radius: 10px;
// }
.metric scale trough {
  all: unset;
  background-color: $background-secondary;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.label-ram {
  font-size: large;
}
._0 , ._01, ._02, ._03, ._04, ._05, ._06, ._07, ._08, ._09, ._010, ._011, ._022, ._033, ._044, ._055, ._066, ._077, ._088, ._099, ._01010 {
  margin: 10px 0px 0px 0px;
}
._01, ._02, ._03, ._04, ._05, ._06, ._07, ._08, ._09 {
	color: $color;
}
._011, ._022, ._033, ._044, ._055, ._066, ._077, ._088, ._099, ._01010 {
	color: $highlight;
	font-weight:bolder;
}
._0 {
  color: $background-secondary;
}
.workspaces button:hover {
  // all:unset;
  border: 1px solid $highlight;
  margin: 9px -1px -1px -1px;
}
.volbar {
  color: $highlight;
  background-color: $background-secondary;
  margin: 5px;
}

.vol_icon {
  font-family: "SymbolsNerdFont";
  font-size: 1rem;
  color: $color;
  margin: 10px;
}

.inhibit button:hover, .noinhibit button:hover {
  border: 1px solid $highlight;
}
.inhibit, .noinhibit {
  font-size: 2rem;
}
.inhibit {
  color: $highlight;
}
.noinhibit {
  color: $color;
}
