[submodule "nixvim"]
	path = nixvim
	url = git@github.com:gccdha/nixvim-flake.git
[submodule "plover-flake"]
	path = plover-flake
	url = git@github.com:gccdha/plover-flake.git
[submodule "sddm-chili"]
	path = sddm-chili
	url = git@github.com:gccdha/sddm-chili.git
[submodule "sddm-astronaut-theme"]
	path = sddm-astronaut-theme
	url = git@github.com:gccdha/sddm-astronaut-theme.git
